// ==========================================================================
// Base Styles
// ==========================================================================

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

body {
  color: palette(black);
  font-size: em($base__font-size);
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
}

header {
  text-align:center;
  padding: rem(10px) 0;
}

h1 {
	@extend %hdln-prim;
}

h2 {
	@extend %hdln-sec;
}

h3 {
	@extend %hdln-terc;
}

h5 {
	color: palette(primary, light);
	text-transform: capitalize;;
	letter-spacing: $letter-space;
	font-weight: $font-weight--bold;
	font-family: $font-family--secondary;
	font-size: em(18px);
}

a {
	color: palette(grey, dark); 
	text-decoration: none;
	font-weight: $font-weight--medium;
}

p {
	font-size: em(18px);
	line-height: (27px, 18px);
	margin: 0 0 rem(30px, 18px);
	font-weight: $font-weight--light;
}

blockquote {
	font-size: rem(24px);
	font-style: italic;
	font-weight: $font-weight--light;
	margin: rem(32px, 24px) 0;
	padding: 0 0 0 5%;
	border-left: solid rem(8px, 24px) palette(grey, xx-light);
}

// Images

img {
	margin-bottom: rem(5px);
	max-width: 100%;
	height: auto;
}

// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Button

button {
	outline: 0;
}

//nuxt-content

nuxt-content {
	text-align: justify;
}