// ==========================================================================
// Grid display
// ==========================================================================

.is-displayed-mobile {
    @include mq(xsmall) {
        display: block;

        @at-root (with: media) {
            .is-hidden-mobile {
                display: none;
            }
        }
    }
    @include mq(small) {
        display: none;
    }
}