// ==========================================================================
// Grid Columns
// ==========================================================================

// Calculate grid columns

.grid__col {

    @include mq(xsmall) {
        @include g-columns(xs);
    }
    @include mq(small) {
        @include g-columns(sm);
    }
    @include mq(medium) {
        @include g-columns(md);
    }
    @include mq(large) {
        @include g-columns(lg);
    }
}

// Columns Styles

[class^="grid__col--"] {		
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include mq(xsmall) {
        margin-bottom: rem(12px);
    }
}
