// ==========================================================================
// Grid Container
// ==========================================================================

.grid {
    @extend %clearfix;
    @extend .centered;
    @extend %grid-default;
    

    // Make nested grid 100%
    [class*="grid"] > & { 
        width: 100%;
    }

    @include m(sidelist) {
        @extend %grid-default;
        text-align: center;
        @include mq(small) {
            justify-content: end;
            text-align: right;
        }
        & [class^="grid__col--"] {

            @include mq(xsmall) {
                margin-top: 0;
                margin-bottom: rem(5px);
            }
            @include mq(small) {
                justify-content: end;
            }
        }
    }

    @include m(post) {
        @extend %grid-default;
        @extend .centered;
        text-align: justify;
        & [class^="grid__col--"] {
            @include mq(small) {
                margin-top: 0;
                margin-bottom: rem(5px);
                justify-content: center;
            }
        }
    }

    //  Set a max-width grid container
    @include mq(large) {
        max-width: $g-col-max-w;
    }
}