// ==========================================================================
// Panels
// ==========================================================================

.panel {
    @extend %panel-default;
    
    @include m(centered) {
        @extend %panel-default;
        @extend %center-align;
    }

    @include m(padded) {
        @extend %panel-padding;
        @include m(centered) {
            @extend %center-align;
            @extend %panel-padding;
        }
    }

    @include m(post) {
        & > div > p {
            display: flex;
            flex-direction: column;
        }

        & > div img {
            align-self: center;
        }

        & > div ul, li {
            list-style-type: inherit;
            padding-left: em(16px);
        }
    }
}