// ==========================================================================
// card
// ==========================================================================

.card {
  
  @extend %card;
    @include e(title) {
        max-width: rem(120px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @include e(description) {
        overflow: hidden;
        max-height: rem(100px);
        padding: rem(10px) 0;
        margin-bottom: rem(5px);
        text-align: justify;
        & > * {
            font-size: em(16px);
        }
    }
    @include e(date) {
        width: 100%;
    }
    @include e(tag) {
        border-radius : $br--default;
        border: solid 1px palette(primary, light);
        padding: 0 rem(1px);
        @include mq(small){
            margin-left: rem(5px);
        }
    }
    &:hover{
        box-shadow: 0 8px 16px 0  palette(primary, light);
    }

}