// ==========================================================================
// Form Elements
// ==========================================================================

.form {
	@include e(label) {
		@include m(hidden) {
			@extend .srt;
		}
		display: block;
		margin-bottom: em(10px);
	}

	@include e(input) {
		@extend %input;
		@include m(post) {
			@extend %input;
			width: 100%;
			&:focus {	
				border-color: $color-primary;
			}
		}
		&:focus {	
			border-color: $color-primary;
		}
	}

	

	@include e(textarea) {
		@include m(body) {
			@extend %input;
			width: 100%;
			min-height: rem(200px);
			&:focus {	
				border-color: $color-primary;
			}
		}
		@include m(tag) {
			@extend %input;
			width: 100%;
			&:focus {	
				border-color: $color-primary;
			}
		}

	}


	@include e(btn) {
		@extend %btn;
		background: $color-primary;
	}
}