// ==========================================================================
// Images
// ==========================================================================

.img {
    @include m(avatar) {
        border-radius: 50%;
        max-width: 50%;
        height: 50%;
    }
    @include m(landscape) {
        box-shadow: palette(primary, light) 5px 5px 10px;
        padding: rem(2px);
        max-height: calc(100vw / 2.81);
    }
}