// ==========================================================================
// Images
// ==========================================================================

.img {
    @include m(avatar) {
        border-radius: 50%;
        max-width: 50%;
        height: 50%;
    }
    @include m(landscape) {
        box-shadow: 0 8px 16px 0 palette(primary, light);
        padding: rem(2px);
        max-height: calc(100vw / 2.81);
    }
}