// ==========================================================================
// Images
// ==========================================================================

.img {
    @include m(avatar) {
        border-radius: 50%;
        max-width: 50%;
        height: 50%;
    }
}