// ==========================================================================
// Showcase
// ==========================================================================
.home {
  @include showcase-fade(12);
}

.showcase {
  position: relative;
  animation: FadeIn 0.75s linear;
  animation-fill-mode: both;
  @include e(img) {
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;

    @include m(title) {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }
  &:hover & {
    &__img {
      opacity: 0.1;
    }
    &__img--title {
      opacity: 1;
    }
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
