html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Body */
h1 {
  color: teal;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

ul {
  text-align: left;
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.links {
  padding-top: 15px;
}

.button--white {
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
}

.button--white:hover {
  color: teal;
  background-color: white;
}

.button--grey {
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.button--nav {
  width: 33px;
  height: 33px;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 5px 10px;
    margin-left: 10px;
  margin-bottom: 10px;
}

.button--nav:hover {
  color: #fff;
  background-color: #35495e;
}

.button--close {
  position: absolute;
  background: transparent;
  top: 5px;
  right: 20px;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.button--close:hover {
  color: teal;
  background-color: white;
}

/* Index page */
.index-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  margin: auto;
}

.index-container .nav {
  width: 100%;
  border-bottom: lightseagreen 1px solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.nav p {
  max-width: 500px;
  text-align: justify;
  margin: auto;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.project-container {
  max-width: 30%;
  margin-bottom: 20px;
}

.project-container .thumbnail {
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 5px lightseagreen;
}

.project-container h5 {
  text-transform: uppercase;
}

/* Sidebar */
.sidebar {
  min-width: 300px;
  max-width: 300px;
  padding: 40px 20px 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
justify-content: space-around;
align-items: flex-start;
  background: teal;
  left: 0px;
  z-index: 2;
  position: fixed;
    height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.5s;
}

.sidebar p {
  color: white;
  text-align: justify;
  margin-bottom: 2rem;
}

.collapsed {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.visible {
  visibility: visible;
}

.main {
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  background: white;
  opacity: 0.7;
  padding: 5px 10px;
  z-index: 1;
}

.sidebar h3 {
  font-family: bold;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem;
}

.thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 10px 5px white;
}

/* Project info */
.project-info-container {
  width: 70%;
}

.project-info {
  background: honeydew;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-info-container h1 {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: teal;
}


.info .sidebar-list {
  margin-top: 10px;
  background: white;
}

.project-images {
  display: flex;
  flex-direction: column;
}

.gif {
  max-width: 500px;
  align-self: center;
  margin-bottom: 10px;
}

/* About info */
.about-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.info-container {
  background: honeydew;
  width: 100%;
  flex: 1 0 auto;
}

.image-container {
  order: 1;
  flex: 1 0 auto;
  margin-top: 10px;
}

.contact-container {
  width: 100%;
  background: honeydew;
  margin-top: 10px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 10px
}

@media (min-width: 400px) {

  .contact-container {
    max-width: 200px;
    min-width: 130px;
  }

  .sidebar-list {
    min-width: 130px;
    max-width: 200px;
  }
}

@media (min-width: 769px) {
  .image-container {
    order: 0;
    max-width: 68%;
  }

  .info-container {
    max-width: 68%;
  }

  .container{
      flex-direction: row;
  }

  .main{
      width: auto;
      left: 0;
      flex-direction: column;
  }

  .button--nav{
      margin-left: auto;
  }
}

/* Project info & About info*/
.sidebar-list {
  width: 100%;
  background: honeydew;
  margin-top: 10px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 5px
}

/* nuxt-content */
.nuxt-content h1 {
  margin-bottom: 20px;
}

.nuxt-content h2 {
  color: teal;
  margin-bottom: 20px;
}

.nuxt-content p {
  text-align: justify;
  padding: 20px;
}

.nuxt-content ul {
  text-align: left;
  margin-bottom: 10px;
}
