@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn {
  @apply mt-4 px-4 py-2 rounded-lg shadow-lg uppercase tracking-wider;
  &.btn--info {
    @apply bg-teal-500 text-sm text-white;
    &:hover {
      @apply bg-gray-600;
    }
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.staggered-item {
  position: relative;
}
.staggered-item img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.staggered-item .title {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.staggered-item:hover img {
  opacity: 0.1;
}
.staggered-item:hover .title {
  opacity: 1;
}
