@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h3 {
  @apply text-xl text-center font-semibold text-teal-600;
}

.btn {
  @apply mt-4 px-4 py-2 rounded-lg shadow-lg uppercase tracking-wider;
  &.btn--info {
    @apply bg-teal-500 text-sm text-white;
    &:hover {
      @apply bg-gray-600;
    }
  }
  &.btn--link {
    @apply text-purple-500 text-sm bg-transparent shadow-xl;
    &:hover {
      @apply text-white bg-purple-500;
    }
  }
  &.btn--warning {
    @apply text-red-500 text-sm bg-transparent shadow-xl;
    &:hover {
      @apply text-white bg-red-500;
    }
  }
}

.nav-link {
  @apply block mt-2 text-left font-semibold text-teal-600;
  &:hover {
    @apply text-gray-600;
  }
  &:active {
    @apply text-teal-400;
  }
}

.content {
  @apply text-justify;
  & > h2 {
    @apply text-xl font-semibold text-teal-600;
  }
  & > p {
    @apply mt-2 text-lg text-gray-600;
  }
  & li {
    @apply mt-2 text-lg text-gray-600 text-center;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.staggered-item {
  position: relative;
  & img {
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  & .title {
    @apply uppercase text-teal-500 tracking-wider text-sm font-semibold;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  &:hover {
    & img {
      opacity: 0.1;
    }
    & .title {
      opacity: 1;
    }
  }
}
